#login-section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}
.logo{
    width: 202.81px;
    height: 60px;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #ABABAB;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 1px 1px 15px lightslategrey;
    margin-top: 100px;
    width: 570px;
    height: 457px;
    padding: 0px 30px;
}
.icon{
    width: 30px;
    height: 30px;
}